<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Android 10+ uses app-owned MediaStore Downloads without storage permission. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <application android:name=".MoyleApplication" android:label="Moyle 隐写工坊"
        android:allowBackup="false" android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true" android:usesCleartextTraffic="false"
        android:theme="@style/Theme.Moyle" android:icon="@drawable/ic_moyle">
        <provider android:name=".DownloadFileProvider"
            android:authorities="${applicationId}.downloads"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/download_paths" />
        </provider>
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
